@media screen {
   DIV.heading {
                 /*background-image: url("head-background.png");*/
                 background: url(../images/araTestBed1.png)  ;
                 background-repeat: repeat-y;
                 background-position: center;
   }
  DIV.heading H1 {
                   padding-top:1em;             
                   }
}             
          
DIV.topNavigation,DIV.date {
   margin: 0;
   border-top: 0;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
}

DIV.seminar {
   background-color: #b0d0d0;
   color: black;
}

@media screen {
   a.navigation {
      padding-left: 0.5em;
      padding-right: 0.5em;
      border-width: 0.25ex;
      border-style: solid;
      border-top-color: #9090f0;
      border-left-color: #9090f0;
      border-right-color: #303070;
      border-bottom-color: #303070;
   }
}

DIV.left {
   float: left;
   padding-right: 1em;
}
DIV.right {
   float: right;
   padding-left: 1em;
}

DIV.other {
   margin-left: 2em;
   vertical-align: top;
}
DIV.left25 {
   float: left;
   width: 25%;
}
DIV.left30 {
   float: left;
   width: 30%;
}
DIV.left50 {
   float: left;
   width: 50%;
}
@media screen {
   DIV.right50 {
      float: left;
      padding-left: 2em;
      min-width: 30%;
      max-width: 50%;
   }
}

DIV.panel {
   margin-left: 1em;
   margin-top: 2ex;
   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-bottom: 0.5ex;
   background-color: #d0e0e0;
   color: black;
}

h3.vc {
   color: red;
}

/*
  --------------------------------
  For the Undergrad Project page
  --------------------------------
*/
h4.undergrad {
   color: yellow;
}

span.supervisor {
   color: #b8860b; /* DarkGoldenRod */
}
span.title {
   color:  green;
}
span.course {
   color: #a52a2a; /* brown */
}
span.away {
   color: #a52a2a;
}