
BODY {
   background-color: #b0b0ff;
   color: black;
   margin: 0;
   font-family: sans-serif;
}

DIV.heading {
   position: absolute;
   top: 0;
   left:0;
   right: 0;
   height: 10ex;
   float: left;    /* Don't really want float but netscape 4 works better */
   background-color: #c0c0f0;
   background-image: url("head-background.png");
   background-repeat: repeat-y;
   background-position: center;
   margin: 0;
   padding-top: 1ex;
   padding-bottom: 1ex;
   z-index:5;
}

DIV.topBar {
   position: absolute;
   top: 12ex;
   left: 0;
   right: 0;
   background-color: #4040c0;
   font-family: sans-serif;
   float:right;     /* Don't really want float but netscape 4 works better */
   z-index:6;
   margin: 0;
   border-top: 0;
   padding-top: 0;
}
DIV.topNavigation,DIV.date {
   margin: 0;
   border-top: 0;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
   background-color: #4040c0;
   color: #ffffff;
}
DIV.topNavigation {
   float:right;     /* Don't really want float but netscape 4 works better */
   text-align: right;
   z-index:6;
   padding-right: 1em;
}

DIV.date {
   position: absolute;
   top: 0;
   left: 0;
   float:left;     /* Don't really want float but netscape 4 works better */
   z-index:5;
   padding-left: 1.5em;
}


DIV.middle {
}

DIV.leftSide {
   position: absolute;
   top: 0;
   left: 0em;
   height: 100%;
   width: 10em;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   font-family: sans-serif;
   background-color: #808080;
   float: left ;
   z-index:4;
}

DIV.vertical {
   position: absolute;
   left: 0;
   top: 14ex;;
   width: 10em;
   padding-right:0;
   padding-left:0;
   float: left ;
   background-color: #808080;
   margin-top: 1ex;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   z-index: 4;
}

DIV.content {
   position: absolute;
   top: 14ex;
   left: 10em;
   margin-top: 1ex;

   background-color: #b0b0ff;
   color: black;
   font-family: sans-serif;

   padding-top: 2ex;
   padding-left: 2em;
   padding-right: 1em;
   padding-bottom: 0;
   min-width: 10em;
   z-index: 2;
}

DIV.news {
   background-color: #ffffff;
   color: #000000;
   margin-top: 1ex;
   margin-bottom: 1.5ex;
   padding-top: 0.5ex;
   padding-bottom: 1ex;
float: left;
}

DIV.body {
   padding-top: 1ex;
   clear: both;
}

DIV.left {
   float: left;
   padding-right: 1em;
}
DIV.right {
   float: right;
   padding-left: 1em;
}

DIV.other {
   margin-left: 2em;
   vertical-align: top;
}
DIV.left25 {
   float: left;
   width: 25%;
}
DIV.left30 {
   float: left;
   width: 30%;
}
DIV.left50 {
   float: left;
   width: 50%;
}
DIV.right50 {
   float: right;
   min-width: 30%;
   max-width: 50%;
}

DIV.clear {
   clear: both;
}

DIV.example {
   border-width: 1px;
   border-color: black;
   border-style: solid;
   margin-left: 1em;
   margin-right: 1em;
   margin-bottom: 1ex;
background-color: #ffffff;
color: #000000;
}

DIV.seminar {
   margin-top: 2ex;
   margin-bottom: 2ex;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.25ex;
   padding-bottom: 1ex;
}
@media screen {
   DIV.seminar {
      background-color: #b0d0d0;
      color: black;
   }
}
DIV.seminar H3 {
   font-size: large;
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.5ex;
}

DIV.mugtext {
   min-width: 10em;
   clear: left;
}


PRE {
   background-color: #ffffff;
   color: #000000;
   padding-left: 0.5em;
   padding-right: 0.5em;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
   margin-top: 0;
   margin-bottom: 0;
}

IMG.valid {
   border:0;
   width:88px;
   height:31px;
   margin-bottom: 5px;
}

IMG.mugshot {
/*
   border-top: 0;
   border-left: 0;
*/
   border-right: 2px;
   border-bottom: 2px;
   border-top-color: #d0d0ff;
   border-left-color: #d0d0ff;
   border-right-color: #000080;
   border-bottom-color: #000080;
   border-style: solid;
   float: left;
   margin-left: 3em;
   margin-right: 1em;
   margin-bottom: 2ex;
}
IMG.mugicon {
   border: none;
}
H1 {
   font-family: sans-serif;

   font-weight: 900;
   margin-bottom:0;
   margin-top:0;
   text-align: center;
}

H2 {
   font-size: x-large;
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.5ex;
}

H2.navigation {
   font-size: small;
   font-family: sans-serif;
   padding-left:2px;

   margin-top: 1ex;
   margin-bottom: 0;
}

H3 {
   font-size: large;
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0.25ex;
}

H4 {
   font-size: medium;
   font-family: sans-serif;
   font-weight: 600;
   margin-bottom: 0;
   margin-top: 1.5ex;
   padding-top: 0;
}

DIV.form P {
   text-indent: 0;
   margin-top: 1ex;
   margin-bottom: 2ex;
}

P {
  text-indent: 2em;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0.25ex;
}

P.abstract {
   text-indent: 2em;
   padding-left: 2em;
   padding-right:2em;
}

P.title {
   text-indent: 2em;
   font-weight: 600;
}

P.news {
   text-indent: 0em;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
   padding-left:2em;
   padding-right:2em;
}

P.address {
   text-indent: 0;
   padding-left: 4em;
}


P.query {
   text-indent: 0;
}

P.valid {
   text-indent: 0;
   text-align: center;
   padding-left: 1em;
   padding-top: 2ex;
}
P.navigation {
   border-top: 0;
   padding-top: 0;
   text-indent: 0;
   padding-left: 0em;
/*   line-height: 150%;*/
}

P.copyright {
   clear: both;
   margin-left: 0;
   margin-top: 10ex;
   text-align: center;
   font-size: small;
   background-color: #c0f0c0;
   color: #000000;
}
P.modified {
   text-align: right;
   font-size: small;
}

ADDRESS {
   margin-top: 2ex;
   text-align: right;
}


UL {
   margin-top: 0;
   margin-left: 0;
   padding-left: 0em;
   list-style: inside;
}

UL.thesis {
   padding-top: 0;
   margin-top: 2ex;
   padding-left: 0;
   margin-left: 0;
}

UL.thesis LI {
   list-style-type: none;
   list-style-position: outside;
   margin-bottom: 2.5ex;
   margin-left: 0;
}

TABLE.bordered {
   margin-left: auto;
   margin-right: auto;
   border-spacing: 0px;
   border-style: solid;
   border-width: 1px;
   border-color: #000000;
}


TABLE.bordered TD,TABLE.bordered TH {
   border-style: solid;
   border-width: 1px;
   border-color: #000000;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

TR.CD {
/*   background-color: #b0f0b0;*/
}
TR.DVD {
   background-color: #f0f0b0;
}
TD.dev {
   text-align: center;
}
TABLE.people {

}
/*
TABLE.people TR {
   border-width: 2px;
   border-style: solid;
   border-color: black;
}
*/
TABLE.people TH {
   background-color: #a0c0c0;
   margin: 0;
}

TABLE.people TD {
   background-color: #b0d0d0;
   margin: 0;
}

IMG.logo {
   vertical-align: middle;
   float: left ;
   max-height: 10ex;
/*   padding-top: 0.5ex;*/
   padding-left: 1.5em;
   padding-right: 2.5em;
}

IMG.left {
   float: left;
}


IMG.right {
        vertical-align: middle;
         float: right ;
         padding: 0 ;
}
A.button {
   display: block;
   border-style: solid;
   border-width: 2px;
   border-top-color: #ffffff;
   border-left-color: #ffffff;
   border-right-color: #000000;
   border-bottom-color: #000000;
   padding-left: 1em;
   padding-right: 1em;
   text-align: center;
}
A.mugshot {
   display: block;
   border-style: solid;
   border-width: 2px;
   border-top-color: #ffffff;
   border-left-color: #ffffff;
   border-right-color: #000000;
   border-bottom-color: #000000;
   width: 24px;
   height: 24px;
/*   background-image: url("/people/mugicon.png");*/
   background-color: #b0d0d0;
}
A.mugshot:hover {
/*   background-image: url("/people/mugicon-active.png");*/
   background-color: #d4f8f8;
}

/* ---- Links ---- */
a:link {
    TEXT-DECORATION: none;
    COLOR: #1818c0;
}

a:visited {
    TEXT-DECORATION: none;
    COLOR: #900000;
}
a:hover {
    TEXT-DECORATION: underline;
    COLOR: #800000;
}

a:active {
    TEXT-DECORATION: underline;
}

a.navigation {
   TEXT-DECORATION: none;
   color: #ffffff;
}

@media screen {
   a.navigation {
      padding-left: 0.5em;
      padding-right: 0.5em;
      border-width: 0.25ex;
      border-style: solid;
      border-top-color: #9090f0;
      border-left-color: #9090f0;
      border-right-color: #303070;
      border-bottom-color: #303070;
   }
}

a.navigation:visited {
    TEXT-DECORATION: none;
    COLOR: #FFFFFF;
}

a.navigation:hover {
   TEXT-DECORATION: none;
   COLOR: #00FFFF;
}
a.leftBar {
   TEXT-DECORATION: none;
   padding-left: 0.25em;
}
@media screen {
   a.leftBar {
      border-width: 0.2ex;
      border-style: solid;
      border-color: #808080;
      display: block;
   }
}
a.leftBar:link {
    COLOR: #FFFFFF;
}

a.leftBar:visited {
    TEXT-DECORATION: none;
    COLOR: #FFFFFF;
}

a.leftBar:hover {
   COLOR: #00FFFF;
   background-color: #6060a0;
   border-style: solid;
   border-width: 0.2ex;
   border-top-color: #9090f0;
   border-left-color: #9090f0;
   border-right-color: #303070;
   border-bottom-color: #303070;
   text-decoration: none;
}

a.leftBar:active {
    TEXT-DECORATION: underline;
}

a.head:link {
    TEXT-DECORATION: none;
    COLOR: #000000;
}

a.head:visited {
    TEXT-DECORATION: none;
    COLOR: #000000;
}
a.head:hover {
    TEXT-DECORATION: underline;
    COLOR: #800000;
}

a.head:active {
    TEXT-DECORATION: underline;
}
