DIV.topNavigation,DIV.date {
   margin: 0;
   border-top: 0;
   padding-top: 0;
   padding-bottom: 0;
}

DIV.vertical,DIV.content {
   top: 13ex;;
}

DIV.left {
   float: left;
   padding-right: 1em;
}
DIV.right {
   float: left;
   padding-left: 1em;
}

DIV.other {
   margin-left: 2em;
   vertical-align: top;
}
DIV.left25 {
   float: left;
   width: 25%;
}
DIV.left30 {
   float: left;
   width: 30%;
}
DIV.left50 {
   float: left;
   width: 50%;
}
DIV.right50 {
   float: left;
   padding-left: 1em;
   min-width: 30%;
   max-width: 50%;
}
