BODY {
     background: white ;
     color: black ;
}

H1 {
   text-align: center ;
   vertical-align: bottom ;
   color: green ;
}

DIV.full {
         width: 100% ;
         clear: both ;
         float: none ;
/*         padding-bottom: 1em ;*/
}

DIV.left {
         border: none ;
         float: left ;
         width: 50% ;
}

DIV.right {
          border: none ;
          float: right ;
          width: 50% ;
}

DIV.centre {
           text-align: center ;
}

IMG.centre {
           text-align: center ;
           left: auto ;
           right: auto; 
}

IMG.icon {
   vertical-align: text-bottom ;
         float: left ;
         border: 0 ;
}
DIV.validator {
              padding-top: 1em ;
              width: 50% ;
              text-align: right ;
              clear: both ;
}
HR {
   text-align: center ;
}

SPAN.green {
           color: green ;
           background: white ;
}
SPAN.red {
         color: red ;
         background: white ;
}
HR.half {
        width: 50% ;
        margin-left: 25% ;
}
