BODY,DIV.heading,DIV.content {
   background-color: #008000;

   color: #ffffff;
}
DIV.heading {
   background-image: url("yule-head-bg.png");
   background-repeat: repeat-y;
   background-position: center;
}


DIV.content {
   background-image: url("tree.png");
/*   min-height: 319px;*/
}
/*
DIV.content {
   background-color: #ffffff;
   color: #000000;
}
*/

DIV.leftside,DIV.vertical {
/*   background-color: #008000;*/
   border-top-width: 2px;
   border-color: #ffffff;
   padding-top: 2ex;
   color: #ffffff;
}


IMG.masthead {
   background-color: #ffffff
}

DIV.topBar,DIV.topNavigation,DIV.date /*,IMG.masthead*/ {
   background-color: #900000;
   color: #ffffff;
}

DIV.topBar {
   border-style: solid;
   border-top-width: 4px;
/*   border-top-width: 0px;*/
   border-bottom-width: 0px;
   border-left-width: 0;
   border-right-width: 0;
   border-color: #ffffff;
}

/*
DIV.example,DIV.news,PRE {
   background-color: #c0f0c0;
}
*/

a.leftBar:link,a.leftBar:visited {
   border-color: #ffffff;
   border-style: none;
   color: #000000;
   TEXT-DECORATION: none;
}
a.topBar:link,a.topBar:visited {
   color: #ffffff;
}
a.navigation {
   padding-left: 0.5em;
   padding-right: 0.5em;
   border-width: 0.25ex;
   border-style: solid;
   border-top-color: #f0f0f0;
   border-left-color: #f0f0f0;
   border-right-color: #703030;
   border-bottom-color: #703030;
}
a.navigation:link,a.navigation:visited {
   TEXT-DECORATION: none;
   color: #ffffff;
}
a.navigation:hover {
   TEXT-DECORATION: none;
   COLOR: #ffFFFF;
   background-color: #000000;
}
a.leftBar:hover {
   COLOR: #FFFFFF;
   background-color: #404000;
   border-style: solid;
   border-width: 0.2ex;
   border-top-color: #f0f0f0;
   border-left-color: #f0f0f0;
   border-right-color: #303030;
   border-bottom-color: #303030;
   text-decoration: none;
}

a:link {
   color: #d0d0ff;
   font-weight: 800;
}
a:visited {
   color: #c0c0ff;
   font-weight: 800;
}

DIV.news a:link, DIV.news a:visited {
   color: #804040;
   font-weight: 800;
}

DIV.topNavigation,DIV.date {
   margin: 0;
   border-top: 0;
   padding-top: 0.5ex;
   padding-bottom: 0.5ex;
}

DIV.seminar {
   background-color: #f0f0f0;
   color: black;
}

DIV.left {
   float: left;
   padding-right: 1em;
}
DIV.right {
   float: left;
   margin-left: 2em;
}

DIV.other {
   margin-left: 2em;
   vertical-align: top;
}
DIV.left25 {
   float: left;
   width: 25%;
}
DIV.left30 {
   float: left;
   width: 30%;
}
DIV.left50 {
   float: left;
   width: 50%;
}
DIV.right50 {
   float: left;
   padding-left: 2em;
   min-width: 30%;
   max-width: 50%;
}

TABLE.people a {
   color: #0000ff;
}
TABLE.people TH, TABLE.publications TH {
   background-color: #e0e0e0;
   color: #000000;
   margin: 0;
}

TABLE.people TD, TABLE.publications TD {
   background-color: #f0f0f0;
   color: #000000;
   margin: 0;
}

TR.DVD {
   background-color: #f0f0f0;
}
